<div class="checkout-content-summary">
  
  <div class="w-100 text-uppercase checkout-content-summary-table" data-hook="order_summary">
    <div class="checkout-content-summary-table-order-total">
      <div class="d-table-cell"><%= Spree.t(:total) %>:</div>
      <div class="d-table-cell text-right">
        <span id='summary-order-total' data-currency="<%= Money::Currency.find(order.currency).symbol %>">
          <%= order.display_total.to_html %>
        </span>
      </div>
    </div>
  </div>
</div>
