<%= render partial: 'spree/shared/error_messages', locals: { target: @user } %>
<div class="checkout-registration container">
  <div class="row col-xs-12 col-lg-12 mx-auto">

      <%= render partial: 'spree/shared/login' if defined?(spree_login_path) %>

      <div class="col-xs-11 col-md-12 col-sm-12 col-lg-11 mx-auto checkout-registration-styled-or">
            <%= Spree.t(:or) %>
            </div>
      <div class="col-xs-11 col-md-12 col-sm-12 col-lg-11 mx-auto">
      <%= render partial: 'spree/shared/registration', locals: { registration_button: '' } %>
      </div>
  </div>
</div>
