<div class="tab">
  <button class="tablinks col-6 col-md-6 col-lg-6"  id="des" ><h3 class="product_d product-details-subtitle"><%= Spree.t(:description) %></h3></button>
  <button class="tablinks col-6 col-md-6 col-lg-6"  id="short_des"><h3 class="product_d product-details-subtitle"><%= Spree.t(:short_description) %></h3></button>
</div>

<div id="London" class="tabcontent">
  <div  class="m-0 text-break product-description " data-hook="description">
  <%= sanitize product_description(@product) %>
</div>
</div>

<div id="Paris" class="tabcontent">
  <div id="product-description-long" class="m-0 text-break product-description" data-hook="description">
    <%= sanitize @product.short_description if @product.short_description%>
  </div>
</div>
<script>

$( document ).on('turbolinks:load', function() {

  $(document).ready(function(){
    setTimeout(function() {
            document.getElementById("des").click();
        },1);


  let l=document.getElementById("London");
  let p=document.getElementById("Paris");

  $(document).on("click", "#des",function(){
    l.style.display = "block";
    p.style.display = "none";
    $("#des").addClass("active");
    $("#short_des").removeClass("active");
  });

  $(document).on("click","#short_des", function(){
    p.style.display = "block";
    l.style.display = "none";
    $("#short_des").addClass("active");
    $("#des").removeClass("active");
  });
  });
})


</script>
