<div>&nbsp;</div>
<%= render 'spree/products/filter_and_sort_mobile_buttons' %>

<div class="container d-md-flex">
  <%= render 'spree/products/filters_desktop', permitted_params: permitted_params %>
  <div class="text-lg-center col-md-12 col-lg-9">
    <h6 class="plp-not-found-header pt-md-3 mb-3"><%= Spree.t('plp.no_results') %></h6>

  <div class="text-center pt-lg-5">
    <%= icon(name: 'search-no-results',
             classes: 'plp-not-found-image mb-3',
             width: 83,
             height: 75) %>
</div>
</div>
