<% cache([base_cache_key, taxon, 'subcategories', permitted_product_params(@taxon.id)]) do %>
  <% subcategories = [taxon] %>
  <% unless taxon.children.any? %>
    <% subcategories.unshift(taxon.parent) %>
  <% end %>

  <% subcategories.compact.each do |current_taxon| %>
    <% child_taxons = [ *current_taxon.children.where(hide_from_nav: false)] %>
    <% if child_taxons.size > 2 %>
      <div class="d-flex justify-content-center position-sticky sticky-top-90px taxon-subcategories-wrapper">
        <div class="py-1 text-uppercase d-none d-xl-flex overflow-x taxon-subcategories">
          <% child_taxons.each_with_index.map do |subcategory, index| %>
            <%= link_to spree.nested_taxons_path(subcategory, params: permitted_product_params(@taxon.id)), class: "col-6" do %>
            <%= image_tag("video/#{subcategory.name}.png",size:"100X100")%>
            <%end%>
          <% end %>
        </div>
      </div>
      <%else%>
      <div data-hook="taxon_products">
    <%= render template: 'spree/products/index', id: @taxon.id %>
  </div>
    <% end %>

  <% end %>
<% end %>
