<p><%= @contact.message %></p>
<p><span>Від</span><span>&nbsp;</span><%= @contact.name if !@contact.name.nil?%></p>
<p><span>email</span><span>&nbsp;</span><%= @contact.email if !@contact.email.nil?%></p>
