.dropdown-menu .dropdown-toggle:after{
		border-top: .3em solid transparent;
	    border-right: 0;
	    border-bottom: .3em solid transparent;
	    border-left: .3em solid;
	}
	.dropdown-menu .dropdown-menu{
		margin-left:0; margin-right: 0;
	}
	.dropdown-menu li{
		position: relative;
	}
	.nav-item .submenu{
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.nav-item .submenu-left{
		right:100%; left:auto;
	}

	#main_nav{
	  cursor: pointer;
	  .dropdown-menu{ display: none; }
	  &:hover{
	  .dropdown-menu {
	    display: block;
	    .submenu{ display: none;}
	     li{
	      &:hover{
	      .submenu{	display: block;}
	  	}
	  }
	}
	}
	}
.offer_admin{
	text-decoration: none;
  color: #495057;
	&:hover{
		text-decoration: none;
		color: #495057;
		background-color: transparent;
	}
}
