<table class="purchase_content">
  <%= render collection: line_items, partial: 'spree/shared/purchased_items_table/line_item', as: :line_item %>

  <%= render 'spree/shared/purchased_items_table/total', order: order %>
</table>
