<div class="container">
<div class="row justify-content-center">
  <div class="col-10 search_marging">

<%= form_tag spree.products_path, method: :get, class: "py-md-1 d-flex align-items-center" do %>
<%= image_submit_tag("search_inside.png",class:"search_inside") %>
  <%= text_field_tag :keywords,
                       params[:keywords],
                       placeholder: Spree.t(:search),
                       autofocus: true,
                       class: "search_input"
  %>

<a href='#' class='closebtn' id="closesearch" >&times;</a>
<% end %>

</div>
</div>
</div>
